/* PANEL */

.top_panel {
  padding-top: 6em!important;
  padding-bottom: 6em!important;
  width: 100%!important;
}


.top_panel_text_color {
    color: white!important;
}

/* HEADER BAR */

.header_bar {
  display: contents!important;
}

.ui.menu .item:before {
  width: 0px!important;
}

.header_bar_hide_border_left_main_button {
  border-left: 0px!important;
}

.remove_padding_profile_pic {
  padding-right: 0px!important;
}

/* BODY */

.body {
  margin-top: 3em!important;
  margin-bottom: 3em!important;
  width: 100%!important;
}


/* CARDS */

.text_alignements_cards{
  text-align: left;
}
